body {
    margin: auto;
    width: 750px;
    background-color: rgb(167, 160, 154);
    height: 100%;
}

header {
    width: 100%;
    background-color: rgb(221, 221, 221);
    height: 50px;
}

h1 {
    margin: 0px;
    padding: 5px 10px;
}

h2 {
    margin-top: 0px;
}

nav {
    padding: 5px 0px;
    margin: 0px;
    width: 100%;
    background-color: rgb(204, 153, 153);
}

nav span {
    padding: 10px;
}

.container {
    display: flex;
}

.columns.column-1 {
    width: 520px;
    background-color: rgb(153, 204, 153);
}

.columns.column-2 {
    width: 230px;
    background-color: rgb(153, 153, 204);
}

.column-1 .content,
.column-2 .content {
    padding: 10px;
}

footer {
    width: 100%;
    background-color: rgb(204, 204, 153);
}

footer p {
    margin: 0px;
    padding: 5px 10px;
}